main{
  width: 80%;
  //padding: 10px;
  //border: 1px solid black;

  text-align: center;
}

.images-list{
  padding: 10px;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(3, 1fr);

  img {
    //border: 2px solid #333333;
    // max-width: 90%;
    // max-height: 90%;
    border: none;
    border-radius: 3px;
    margin: 10px;

    display: inline-block;
    max-height: 23%;
    max-width: 23%;
  }
}

@supports(display: grid) {
  .images-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    img {
      max-width: 92%;
      max-height: 92%;
    }  
  }
}

// @supports not (display: grid) {
//   main{
//     text-align: center;
//   }
//   .images-list img {
//     display: inline-block;
//     height: 22%;
//     width: 22%;
//   }  
// }