main{
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}

.images-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  img {
    border: 2px solid #333333;
    max-width: 90%;
    max-height: 90%;
    margin: 10px;
  }
}

@supports not (display: grid) {
  main{
    text-align: center;
  }
  .images-list img {
    display: inline-block;
    height: 22%;
    width: 22%;
  }  
}