* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

h3,
h4 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

body {
  @include flex(column, flex-start, center);

  position: relative;
  min-width: 1300px;
  font-family: $font;
  color: #333333;
  height: 100vh;
}

.content {
  @include flex(row, flex-start, stretch);

  width: 100%;
  height: 100%;
}
