.pagination{
  @include flex(row, center, center);

  //border: 1px solid black;
  //margin-top: 20px;
  height: 80px;
  //border: 1px solid black;
  //border-radius: 10px;

  ul{
    @include flex(row, flex-start, center);

    li{
      @include flex(row, center, center);
    }
  }

  button, li{
    width: 30px;
    height: 30px;
    font-size: 16px;
    background: gainsboro;
    border: 1px solid black;
    border-right: none; 

    &:hover{
      cursor: pointer;
    }
  }

  .active-page{
    background: gray;
    color: white;
  }
  #next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid black;
  }
  #prev{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}