<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Test work</title>
  <% if(NODE_ENV==='development') { %>
    <link rel="stylesheet" href="styles.css">
  <% } %>
</head>

<body>
  <header>
   <h3>Image view</h3>
  </header>
  <div class="content">
    <main>
      <div class="images-list" id="list"></div>
      <div class="pagination"></div>
    </main>
    <aside class="filter">
      <h3>Filter by</h3>
      <div class="size">
        <h4>Size</h4>
        <ul id="filter-size">
          <li><input type="radio" name="filter" id="large" checked>Large</li>
          <li><input type="radio" name="filter" id="medium">Medium</li>
          <li><input type="radio" name="filter" id="small">Small</li>
        </ul>
      </div>
      <div class="author">
        <h4>Author</h4>
        <ul id="authors"></ul>
      </div>
    </aside>
  </div>
</body>
</html>